<!-- HTML -->
<nav class="navbar bg-light" data-bs-theme="light">
    <div class="container-fluid">
        <p class="navbar-brand user-select-none mt-2" style="font-size: 28px;">OpenCall</p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {{ if .Type }}
                <div class="navbar-end">
                    {{ if eq .Type "room" }}
                        <div class="navbar-item has-dropdown">
                            <div class="navbar-link">
                                <hr>
                                <div class="navbar-dropdown">
                                    <div class="navbar-item mb-3">
                                        <!-- TODO multiple streamer in the room -->
                                        <!-- <button class="btn btn-secondary"
                                                onclick="copyToClipboard('{{ .RoomLink }}')">Room Link</button> -->
                                        <button class="btn btn-secondary"
                                                onclick="copyToClipboard('{{ .StreamLink }}')">Stream Link
                                        </button>
                                        <button id="btn-leave" class="btn btn-danger">Leave Room</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                    {{ if eq .Type "stream" }}
                        <div class="navbar-item">
                            <a href="/dashboard" class="btn btn-danger">Leave Room</a>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </div>
</nav>
<!-- HTML -->